<div class="container">
  <div class="row">
    <div class="post_like_rank">
      <h4>投稿いいね数ランキング</h4>
      <div>
        <!--同率順位表示-->
        <% last_like = 0 %>
        <% j = 1 %>
        <% @post_like_ranks.each.with_index(1) do |rank, i| %>
          <!--最初の値をlast_likeに保存-->
          <% if i == 1 %>
            <% last_like = rank.likes.count %>
          <% end %>
          <!--last_likeといいね数比べて同じなら同じ順位、違うなら次の順位表示-->
          <% if rank.likes.count != last_like %>
            <% j = i %>
            第<%= j %>位
            <%= link_to post_path(rank.id) do %>
              <%= attachment_image_tag rank, :image, :fill, 100, 100 %>
            <% end %>
            <p>説明：<%= rank.content %></p>
            <p>
              <%= link_to user_path(rank.user) do %>
                ユーザー名：<%= rank.user.name %>
              <% end %>
            </p>
            <p><%= link_to "#{rank.comments.count} コメント", post_path(rank.id) %></p>
            <p><%= rank.likes.count %>いいね</p>
            <% last_like = rank.likes.count %>
          <% else %>
            <% last_like = rank.likes.count %>
            第<%= j %>位
            <%= link_to post_path(rank.id) do %>
              <%= attachment_image_tag rank, :image, :fill, 100, 100 %>
            <% end %>
            <p>説明：<%= rank.content %></p>
            <p>
              <%= link_to user_path(rank.user) do %>
                ユーザー名：<%= rank.user.name %>
              <% end %>
            </p>
            <p><%= link_to "#{rank.comments.count} コメント", post_path(rank.id) %></p>
            <p><%= rank.likes.count %>いいね</p>
          <% end %>
          <div>
            <% if current_user.following?(rank.user) %>
              <%= link_to "フォロー外す", user_relationships_path(rank.user.id), method: :delete %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(rank.user.id), method: :post %>
            <% end %>
          </div>

        <% end %>
      </div>
    </div>
    <div class="post_comment_rank">
      <h4>投稿コメント数ランキング</h4>
      <%= render 'ranks/post_rank', post_ranks: @post_comment_ranks %>
    </div>
    <div class="my_post_like_rank">
      <h4>自分の投稿いいね数ランキング</h4>
      <%= render 'ranks/post_rank', post_ranks: @my_post_like_ranks %>
    </div>
    <div class="user_post_rank">
      <h4>ユーザー投稿数ランキング</h4>
      <%= render 'ranks/user_rank', user_ranks: @user_post_ranks %>
    </div>
    <div class="user_post_like_rank">
      <h4>ユーザーいいね数ランキング</h4>
      <%= render 'ranks/user_rank', user_ranks: @user_post_like_ranks %>
    </div>
    <div class="month_user_post_rank">
      <h4>月間ユーザー投稿数ランキング</h4>
      <%= render 'ranks/user_rank', user_ranks: @month_user_post_ranks %>
    </div>
    <div class="week_post_like_rankspost_like_rank">
      <h4>週間投稿いいね数ランキング</h4>
      <%= render 'ranks/post_rank', post_ranks: @week_post_like_ranks %>
    </div>
    <div class="today_post_comment_rank">
      <h4>今日の投稿コメント数ランキング</h4>
      <%= render 'ranks/post_rank', post_ranks: @today_post_comment_ranks %>
    </div>
  </div>
</div>