<div id="loading">
  <div id="loading_box">
    <div class="loading-one animation_loading">
      <p class="loading-txt">Loading</p>
    </div>
  </div>
</div>
<div class="container">
  <!--スライドショー-->
  <div class="slick">
    <div>
      <%= image_tag 'image1.jpg', class:'col' %>
    </div>
    <div>
      <%= image_tag 'image2.jpg', class:'col' %>
    </div>
    <div>
      <%= image_tag 'image3.jpg', class:'col' %>
    </div>
  </div>
  
  <div>
    <% @posts.each do |post| %>
      <%= post.content %>
      <%= post.user.name %>
    <% end %>
  </div>

  <button class="alert_btn" style="width :50px; height: 50px;"></button>
  
　<!--accordion-containerの中にtitleとontentを配置-->
　<!--cardとcard-bodyはBootstrapのものなので使わない方は無視して-->
  <div class="card accordion-container">
    <div class="card-body accordion-title js-accordion-title">
      これを押すと
    </div>
    <div class="card-body accordion-content">
      開きます
    </div>
  </div>
  <!--１つ目と同じでテキストだけ変えたもの-->
  <div class="card accordion-container">
    <div class="card-body accordion-title js-accordion-title">
      当然これも
    </div>
    <div class="card-body accordion-content">
      開きます
    </div>
  </div>
  <!--１つ目と同じでテキストだけ変えたもの-->
  <div class="card accordion-container">
    <div class="card-body accordion-title js-accordion-title">
      これも絶対に
    </div>
    <div class="card-body accordion-content">
      開きます
    </div>
  </div>
</div>
