<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <!--タブ部分-->
      <ul class="tab-list d-flex justify-content-around text-center list-unstyled mx-3">
        <li class="tab tab-active heading">
          New
        </li>
        <li class="tab heading">
          Popular
        </li>
        <li class="tab heading">
          Pick up
        </li>
      </ul>
      <!--タブで選択された要素部分-->
      <div class="tabbox-contents">
        <div class="tabbox box-show">
          <!--無限スクロール-->
          <!--classにnew-tab,tabに.new-tab追加-->
          <div class="scroll-list jscroll new-tab" tab=".new-tab">
            <%= render 'posts/list', posts: @new_posts %>
            <!--ページ表示部分-->
            <!--param_name追加-->
            <%= paginate @new_posts, param_name: "new_page" %>
          </div>
        </div>
        <div class="tabbox">
          <!--無限スクロール-->
          <!--classにpopular-tab,tabに.popular-tab追加-->
          <div class="scroll-list jscroll popular-tab" tab=".popular-tab">
            <%= render 'posts/list', posts: @popular_posts %>
            <!--ページ表示部分-->
            <!--param_name追加-->
            <%= paginate @popular_posts, param_name: "popular_page" %>
          </div>
        </div>
        <div class="tabbox">
          <!--無限スクロール-->
          <!--classにpick-up-tab,tabに.pick-up-tab追加-->
          <div class="scroll-list jscroll pick-up-tab" tab=".pick-up-tab">
            <%= render 'posts/list', posts: @pick_up_posts %>
            <!--ページ表示部分-->
            <!--param_name追加-->
            <%= paginate @pick_up_posts, param_name: "pick_up_page" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

